.btn-group {
    display: flex;
    max-width: 480px;
    margin: auto;
  }
  .btn-group button {
    border: none;
    margin: 8px;
    padding: 8px;
    flex-grow: 1;
    color: #fff;
    background: #3178c6;
  }
  
  .btn-group button:hover {
    background: #2255ff;
  }

  .number-input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
  }
  